@inherits LayoutComponentBase

<PageTitle>FaxMailFrontend</PageTitle>

<div class="page">

    <main style="background-color: #005E3F" >
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>