

<table>
    <tr>
        <th colspan="2">Kanalart</th>
    </tr>
    <tr>
        <td>
            <input type="radio" id="ePost" name="kanalart" value="ePost">
            <label for="ePost">ePost</label>
        </td>
        <td>
            <input type="radio" id="LateScan" name="kanalart" value="LateScan">
            <label for="LateScan">LateScan</label>
        </td>
    </tr>
</table>

@code {

}
@code {

}
