@namespace FaxMailFrontend.Components
<div style="border: 2px solid black; padding: 10px; background-color: lightcyan; margin: 10px; color: black;">
    <p>
        <h3>Danke für das Einreichen der Unterlagen</h3>
    </p>
    <p>
        <img src="images/hakchen.png" style="width: 250px; height: 250px;" />
    </p>
    <hr />
    <p>
        <h3>Die Daten wurden erfolgreich an das Inputmanagement übermittelt</h3>
    </p>
</div>

@code {

}
