<table>
    <tr>
        <td colspan="4"><h1>Dokumentenart</h1></td>
    </tr>
    <tr>
        <td>Favoriten</td>
        <td>Kategorie</td>
        <td>UNterkategorie</td>
        <td>Dokumentenklasse</td>
    </tr>
    <tr>
        <td colspan="2">Automatische Ermittlung </td>
        <td colspan="2">Select or deselect favorite</td>
    </tr>
</table>

@code {

}
