@namespace FaxMailFrontend.Components
<div style="border: 2px solid black; padding: 10px; background-color: lightcyan; margin: 10px;">
    <p>
        <h3>Absenderinformationen</h3>
    </p>
    <p>
        <h3>Name: </h3>        
        <h3>Telefon: </h3>
        <h3>Email: </h3>
    </p>
    <p>
        
    </p>
</div>

@code {

}