

<table>
    <thead>
        <tr>
            <th>Suchergebnis Ordnungsbegriff</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label>Name:</label>
                <input type="text" readonly value=""/>
            </td>
            <td>
                <label>Vorname:</label>
                <input type="text" readonly value=""/>
            </td>
            <td>
                <label>Geb. Datum:</label>
                <input type="text" readonly value=""/>
            </td>
            <td>
                <label>Adresse:</label>
                <input type="text" readonly value=""/>
            </td>
        </tr>
    </tbody>
</table>

@code {
    
}
@code {

}
