<h3>CenttralProcessor</h3>
@inject NavigationManager navigationManager
@namespace FaxMailFrontend
<div>
    <button @onclick="Logout">Logout</button>
    </div>
@code {
    private void Logout()
    {
        // Implementiere die Logout-Logik hier
        navigationManager.NavigateTo("/LogOutPage");
    }
}
