@page "/LogOutPage"

<style>
    body {
        color: white;
    }
</style>

@if (isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
        <h3>Checking...</h3>
    </div>
}
else if (result)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
        <h3>LoggedOut</h3>
        <h4>Sie haben sich erfolgreich ausgeloggt</h4>
    </div>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
        <h3>LoggedOut failed</h3>
        <h4 style="color: red;">Sie haben sich nicht erfolgreich ausgeloggt!</h4>
    </div>
}

@code {
    bool result = false;
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        result = await Logout();
        isLoading = false;
    }

    private async Task<bool> Logout()
    {
        //await AuthenticationService.Logout();
        //NavigationManager.NavigateTo("/login");
        await Task.Delay(1000);
        return true;
    }
}